body {
  font-family: Arial, sans-serif;
  background-color: #f2f6fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  overflow: hidden;
  padding: 20px;
  max-width: 600px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  font-size: 1.5em;
  color: #0066ff;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table th, table td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
}

table th {
  width: 45%;
  color: #333;
}

table td {
  width: 75%;
  /* Ensure the input fields take the remaining space */
}

.data {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  /* Prevent the input field from extending vertically */
  white-space: nowrap;
  /* Prevent the text from wrapping */
}

.data:focus {
  border-color: #0066ff;
  outline: none;
}

select.data {
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

select.data:focus {
  border-color: #0066ff;
  outline: none;
}

button.edit {
  margin-top: 20px;
  width: 30%;
  padding: 10px;
  background-color: #0066ff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button.edit:hover {
  background-color: #0052cc;
}
